Flask==2.0.2
Flask_Login==0.5.0
Flask_Mail==0.9.1
Flask_Moment==1.0.2
Flask_SQLAlchemy==2.5.1
itsdangerous==2.0.1
mysql_connector_repackaged==0.3.1
pandas==1.4.1
SQLAlchemy==1.4.31
Werkzeug==2.0.3
datetime
pymysql
cryptography
requests


