{% extends "base.html" %}
    
{% block title %}Flat Details{% endblock %}
    
{% block content %}
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a2160caea7.js" crossorigin="anonymous"></script>

 <script>
  $(document).ready(function(){
      $('.favourite_button').click(function(){
        $("#changePostalCodeModal").modal('show');
      }); 
  });
</script>
<script>
  $(document).ready(function(){
      $('.review_button').click(function(){
        $("#changePostalCodeModal").modal('show');
      }); 
  });
</script>

  <style>
    .street_name {
      display: inline-flex;
    }

    button[class^="favourite_button"] {
      background-color: white;
      border:none;
      outline:none;
      color: red;
      align-self: flex-start;
    }

    
  </style>
</head>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <style>
      .carousel{
        background: rgba(255, 182, 193, 0.178)
      }
    </style>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{image[0]}}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{image[1]}}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{image[2]}}" alt="Third slide">
      </div>

      <style>
        .carousel-inner {
          width: 500px;
          height: 500px;
          object-fit: scale-down;
          object-position: 50% 50%;
          margin: auto;
          display:flex;
          align-items:center;
          
        }
      
      </style>
      </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class = "map">
  <iframe
    id="map"
    width="450"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="">
  </iframe>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="//www.squarefoot.com.sg/js/iframeresizer.min.js"></script>
  <!-- Replace j93b541us62ngpax78dqefm0rzocythi in the following line with token issued for your domain -->
  <script src="//www.squarefoot.com.sg/component/sqftapi?token=j93b541us62ngpax78dqefm0rzocythi&task=js"></script>
  <script>
      $(document).ready(function(){
          squarefoot.load("sqftmain",{
              task: "project", name: "Sky Habitat", type: "r", map: "1", amenities: "1"
          });
          $("#sqftmain").iFrameResize();
      });
  </script>
  <iframe id="sqftmain" style="background-color:#fcfcfc" frameborder="0" width="100%"></iframe>
</div>

<style>
  .carousel{
    width: 50%;
    float: left;
  }
  .map{
    width: 48%;
    margin-left: 0.5cm;
    float: right;
  }
  .clearfix{
    clear:both
}
</style>

<br>

<div class="street_name">
  <h1>{{flat.address}}</h1>
  {% if user.is_authenticated %}
        {% if flat.id in user.favourites|map(attribute="flat_id")|list %}
        <button class="favourite_button" id ="favourite_button{{flat.id}}" type="button" onClick="unfavourite({{ flat.id }})">
          <span id ="favourite_button_id{{flat.id}}"><i class="fa-solid fa-heart"></i></span>
        </button>
        {% else %}
        <button class="favourite_button" id ="favourite_button{{flat.id}}" type="button" onClick="favourite({{ flat.id }})">
          <span id ="favourite_button_id{{flat.id}}"><i class="fa-regular fa-heart"></i></span>
        </button>
        {% endif %}
  {% else %}
      <button class="favourite_button" id ="favourite_button{{flat.id}}" type="button">
        <span id ="favourite_button_id{{flat.id}}"><i class="fa-regular fa-heart"></i></span>
      </button>
      <div class = "guest_error">
        <div class="modal fade" id="changePostalCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Login Feature</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
    
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <a href='/sign-up'<h5> Create an account to use this feature!</h5></a> 
                </div>
    
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
  <span id="favourite_count{{flat.id}}" class="favourite_count">{{flat.favourites|length}}</span>
  
</div>






<div class="row"> 
<div class="col-sm-3">
    <p class="mb-0">Price</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">${{flat.resale_price}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Flat Type</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.flat_type}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Storey Range</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.storey_range}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Sold Date</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.month}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Town</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.town}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Block</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.block}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Floor Area (Metre Square)</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.floor_area_sqm}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Price per Square Metre</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">${{flat.price_per_sqm}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Flat Model</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.flat_model}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Remaining Lease</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.remaining_lease}}</p>
</div>
</div>

<hr>

<div class="row">
<div class="col-sm-3">
    <p class="mb-0">Postal District</p>
</div>
<div class="col-sm-9">
    <p class="text-muted mb-0">{{flat.postal_sector}}</p>
</div>
</div>
<br>
{% if user.is_authenticated %}
<form method="POST">
  <span class="input-group-append ">
    <textarea name="review" id="review" class="form-control" style ="height: 50px" placeholder="Write your review here!"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary btn-sm">Add Review</button>
      
      
      
      
    
    </div>
  </span>
</form>

{% else %}

<span class="input-group-append ">
  <textarea name="review" id="review" class="form-control" style ="height: 50px" placeholder="Write your review here!"></textarea>
  <br />
  <div align="center">
    <div class = "review_button">
      <button  class="btn btn-primary btn-sm" class = "review_button">Login to add review</a>
    </div> 
  </div>
</span>
{% endif %}

<h1 align="center">Reviews</h1>

<br>

{% if flat.reviews|length == 0 %}
  <h3 class="text-muted mb-0" align="center">No reviews yet!</h3>
{% else %}
  <h3 class="text-muted mb-0" align="right">{{flat.reviews|length}} Review(s) Posted</h3>
{% endif %}

<ul class="list-group list-group-flush" id="reviews">
  {% for review in flat.reviews|reverse %}
  <li class="list-group-item">
    <img src="{{ review.user.avatar(50) }}">
    <b>{{review.user.username}}</b>
    <div style="word-wrap: break-word; width:1000px">
      <p>{{ review.data }}</p>
          <div class="row justify-content-end">
              <small class="text-muted mb-0"> Posted {{moment(review.date).fromNow() }}</small>
          </div>
    </div>
    {% if review.user == user %}
    <button type="button" class="close" onClick="deleteReview({{ review.id }}, {{flat.id}})">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}