{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



    <style>
      /* Modify the background color */
      
      .card {
          background-color: white;
      }
      .card-header {
          background-color: pink;
  
      }
      .card-body {
          background-color: white;
  
      }
    </style>
</head> 

<body class="bg">
  <div id="properties" class="card-body mx-auto bg-pink" style="width: 30rem;">
    {% for entry in data %}
      <div class="card mb-3">
        <div class="card-header">
          <strong><a href ="{{ url_for('views.flat_details', flatId=entry[0]) }}" target = "_blank">{{entry[1]}}</strong></a>
          <form method="POST">
            <div>
              <!--{% for favourite in user.favourites %}
                {% if entry.id == favourite.flat_id %}
                  heartcolour = "pink"
                {% endif %}
              {% endfor %}-->
              <button type="submit">
                <var>current_flat = entry</var>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" !important class="bi bi-heart" viewBox="0 0 16 16" preserveAspectRatio="xMaxYMin meet">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
              </button>
              
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img src="{{entry['image']}}" class="img-thumbnail">
            </div>
            <div class="col">
              <p><strong>Price: </strong>${{entry[2]}}</p>
              <br/>
              <p><strong>Flat Type: </strong>{{entry[3]}}</p>
              <br/>
              <p><strong>Floor: </strong>{{entry[4]}}</p>
              
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
        

  

<script type="text/javascript">
  var index = 20;
  var limit = 20;

  $(window).scroll(() => {
    var current_y = $(window).scrollTop();
    var window_height = $(window).height();
    var document_height = $(document).height();
    
    if (current_y + window_height  == document_height) {
      downloadContent(index, limit);
      index += 10
    }
  });


  function downloadContent(index, limit) {
    $.get('/api?index=' + index + '&limit=' + limit, (data) => {
      for (var index = 0; index < data.data.length; index++) {
        var entry = "/flat-details/" + data.data[index][0];   
        var page = `
          <div class="card mb-3">
            <div class="card-header">
              <strong>` +`<a href="${entry}" target = "_blank">`+ data.data[index][1] + `</strong></a>
            </div> 
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img src="` + data.data[index].image + `" class="img-thumbnail">
                </div>
                <div class="col">
                  <p><strong>Price: </strong>` +`$`+ data.data[index][2] + `</p>
                  <br/>
                  <p><strong>Flat Type: </strong>` + data.data[index][3] + `</p>
                  <br/>
                  <p><strong>Floor: </strong>` + data.data[index][4] + `</p>
                </div>
              </div>
            </div>
          </div>
        `

        $('#properties').append(page)
      }
    });
  }
  
  </script>

  </body>
{% endblock %}
