{% extends "base.html" %} 
{% block title %}Profile{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='styles.css')}}"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a2160caea7.js" crossorigin="anonymous"></script>

</head>
<h1 align="center">Likes</h1>

<section style="background-color: rgba(255, 182, 193, 0.178);">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ user.avatar(100) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <div class="d-flex justify-content-center mb-2">
                <a class="m-1" href="{{ url_for('user.profile', username=current_user.username) }}"> <button type="button" class="btn btn-primary">Personal Information</button></a> 
                {% if current_user.access_id == 0 %}
                <a class="m-1" href="{{ url_for('user.likes', username=current_user.username) }}"> <button type="button" class="btn btn-outline-primary ms-1">Likes</button></a>
                {% elif current_user.access_id == 1 %}
                <a class="m-1" href="{{ url_for('user.property', username=current_user.username) }}"> <button type="button" class="btn btn-primary">Property</button></a>          
                {% endif %}  
              </div>
            </div> 
          </div>
          <form method="POST">
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
                <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" name="searchLikes" id="searchLikes" placeholder = "Search here to find your liked flats!">
                  <span class="input-group-append ">
                  <button id="outline-button" class="btn btn-outline-primary border-left-0 border" type="submit" type="button" >
                        <i class="fa fa-search"></i>
                      </button>
                  </span>
                </div>
            </div>
          </div>
        </form>
        </div>          
        
        

        <div class="col-lg-5">
            {% for flat in flats%}
            <div class="card mb-3">
              <div class="card-header">
                <strong><a href ="{{ url_for('views.flat_details', flatId=flat.id) }}" target = "_blank">{{flat.address_no_postal_code}}</strong></a>
                <button class="like_button" id ="like_button{{flat.id}}" type="button" onClick="flat_unlike({{ flat.id }})">
                  <span id ="like_button_id{{flat.id}}"><i class="fa-solid fa-heart"></i></span>
                </button>
                <span id="like_count{{flat.id}}">{{flat.likes|length}}</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="{{ url_for('static', filename = flat.image)}}" class="img-thumbnail">
                  </div>
                  <div class="col">
                    <p><strong>Price: </strong>${{flat.resale_price}}</p>
                    <br/>
                    <p><strong>Flat Type: </strong>{{flat.flat_type}}</p>
                    <br/>
                    <p><strong>Floor: </strong>{{flat.storey_range}}</p>
                    <br/>
                    <p><strong>Sold Date: </strong>{{flat.month}}</p>
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div> 
      </div>
    </div>   
        
    
  </section>

{% endblock %}