{% extends "base.html" %} {% block title %}Login{% endblock %} 

{% block content %}

<div>
  <div class="row">
  <img style="height: 90vh; width: 60%;" src="\static\hdb_image8.jpg"/ style="display: inline-block;">

<div class="col" style="padding-top: 5vh;">
  <form class="user-acc" method="POST">
    <h3 align="center">Log In</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" 
    style="background-color: #f59090; font-size: 1.5rem; padding:0.5% 3%;
    border: 0; display: block; margin: 0 auto;">Login</button>
    <br/>
    <div class = "other">
      <a href="/forgot-password" style="color:#000000;">Forgot Password?</a>
      <br/>
      <a href="/verify-email" style="color:#000000;">Send Verification Email</a>
    </div>
  </form>
</div>

</div>
</div>

{% endblock %}
