{% extends "base.html" %} 
{% block title %}Profile{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='styles.css')}}"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a2160caea7.js" crossorigin="anonymous"></script>

</head>
<h1 align="center">Likes</h1>

<section style="background-color: rgba(255, 182, 193, 0.178);">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ user.avatar(100) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <div class="d-flex justify-content-center mb-2">
                <a <button type="button" id="outline-button" class="btn btn-outline-primary ms-1" href="{{ url_for('user.profile', username=current_user.username) }}">Personal Information</button></a> 
                
                {% if current_user.access_id == 0 %}
                <a <button type="button" id="solid-button" class="btn btn-primary" href="{{ url_for('user.flat_likes', username=current_user.username) }}"
                >Likes</button></a>
                {% elif current_user.access_id == 1 %}
                <a <button type="button" id="outline-button" class="btn btn-outline-primary ms-1" href="{{ url_for('user.property', username=current_user.username) }}"
                >Property</button></a>          
                {% endif %}  
              </div>
            </div> 
          </div>
          <form method="POST">
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
                <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" name="searchPropertyLikes" id="searchPropertyLikes" placeholder = "Search here to find your liked flats!">
                  <span class="input-group-append ">
                  <button id="outline-button" class="btn btn-outline-primary border-left-0 border" type="submit" type="button" >
                        <i class="fa fa-search"></i>
                      </button>
                  </span>
                </div>
            </div>
          </div>
        </form>
        </div>          
        
        
        <div class='col' style="padding:0;">
            <div class="subsection text-center">
              <div class="row" style="width:100%;">
                <div class="subsection-cell col-6">
                  <a class="subsection-button" href="{{ url_for('user.flat_likes', username=current_user.username) }}">
                    <button id="outline-button" class="subsection-button">Past Sold Flats</button>
                  </a>
                </div>
                <div class="subsection-cell col-6"> 
                  <a  class="subsection-button" href="{{ url_for('user.property_likes', username=current_user.username) }}">
                    <button id="solid-button" class="subsection-button">Current On Sale Flats</button>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
                {% for property in properties%}
                <div class="card mb-3">
                  <div class="card-header">
                    <strong><a href ="{{ url_for('user.property_details', property_id=property.id) }}" target = "_blank">{{property.address_no_postal_code}}</strong></a>
                    <button class="like_button" id ="like_button{{property.id}}" type="button" onClick="property_unlike({{ property.id }})">
                      <span id ="like_button_id{{property.id}}"><i class="fa-solid fa-heart"></i></span>
                    </button>
                    <span id="like_count{{property.id}}">{{property.likes|length}}</span>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <img src="{{ url_for('user.retrieve_main_picture', property_id = property.id)}}" class="img-thumbnail">
                      </div>
                      <div class="col">
                        <p><strong>Price: </strong>${{property.price}}</p>
                        <br/>
                        <p><strong>Flat Type: </strong>{{property.flat_type}}</p>
                        <br/>
                        <p><strong>Floor: </strong>{{property.storey_range}}</p>
                        <br/>
                        <p><strong>Sold Date: </strong>{{property.time.date()}}</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div> 
          </div>
        </div>
      </div>   
  
    
  </section>

{% endblock %}