{% extends "profile.html" %} {% block title %}Your Property{% endblock %} 

{% block content%}
<h1> DEVELOPMENT IN PROGRESS</h1>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='styles.css')}}"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a2160caea7.js" crossorigin="anonymous"></script>

</head>
<h1 align="center">Property</h1>

<section style="background-color: rgba(255, 182, 193, 0.178);">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ user.avatar(100) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <div class="d-flex justify-content-center mb-2">
                <a class="m-1" href="{{ url_for('user.profile', username=current_user.username) }}"> <button type="button" class="btn btn-primary">Personal Information</button></a> 
                <a class="m-1" href="{{ url_for('user.favourites', username=current_user.username) }}"> <button type="button" class="btn btn-primary">Favourites</button></a>
                {% if current_user.access_id == 1 %}
                <a class="m-1" href="{{ url_for('user.property', username=current_user.username) }}"> <button type="button" class="btn btn-outline-primary ms-1">Property</button></a>          
                {% endif %}  
              </div>
            </div> 
          </div>
            <form method="POST">
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" name="searchProperty" id="searchProperty" placeholder = "Search here to find your property!">
                        <span class="input-group-append ">
                            <button class="btn btn-outline-primary border-left-0 border" type="submit" type="button" >
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </form>

            <a href="{{ url_for('user.add_property', username=current_user.username)  }}"><button class="m-2 btn btn-primary"><i class="fa-solid fa-plus"></i> Add Property</button></a>
        </div>          
        
        

        <div class="col-lg-5">
          <div class="card mb-4">
            {% for prop in property %}
            <div class="card mb-3">
                <div class="card-header">
                    <strong><a href ="#" target = "_blank">{{prop.address_no_postal_code}}</strong></a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="{{ url_for('static', filename = prop.image)}}" class="img-thumbnail">
                        </div>
                        <div class="col">
                            <p><strong>Price    : </strong>${{prop.price}}</p>
                            <br/>
                            <p><strong>Flat Type: </strong>{{prop.flat_type}}</p>
                            <br/>
                            <p><strong>Block    : </strong>{{prop.block}}</p>
                            <br/>
                            <p><strong>Date     : </strong>{{prop.time}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div> 
      </div>
    </div>   
        
    
  </section>

{% endblock %}