{% include "property.html" %}

{% block content %}

<script>
    $(document).ready(function(){
        $("#addPropertyModal").modal('show');
    });

    $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
     });
</script>

<form method="POST">
    <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Property</h4>
            <a href="{{  url_for('user.property', username = current_user.username) }}">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
          </div>
    
          <div class="modal-body mx-3">
            <!-- Town -->
            <div class="md-form mb-3">
                <label for="town">Town</label><br>
                <select required id="town" name="town" class="form-select" aria-label="Default select example" aria-placeholder="Choose a town">
                    <option value="ANG MO KIO">Ang Mo Kio</option>
                    <option value="BEDOK">Bedok</option>
                    <option value="BISHAN">Bishan</option>
                    <option value="BUKIT BATOK">Bukit Batok</option>
                    <option value="BUKIT MERAH">Bukit Merah</option>
                    <option value="BUKIT PANJANG">Bukit Panjang</option>
                    <option value="BUKIT TIMAH">Bukit Timah</option>
                    <option value="CENTRAL AREA">Central Area</option>
                    <option value="CHOA CHU KANG">Choa Chu Kang</option>
                    <option value="CLEMENTI">Clementi</option>
                    <option value="GEYLANG">Geylang</option>
                    <option value="HOUGANG">Hougang</option>
                    <option value="JURONG EAST">Jurong East</option>
                    <option value="JURONG WEST">Jurong West</option>
                    <option value="KALLANG/WHAMPOA">Kallang / whampoa</option>
                    <option value="PASIR RIS">Pasir Ris</option>
                    <option value="PUNGGOL">Punggol</option>
                    <option value="QUEENSTOWN">Queenstown</option>
                    <option value="SEMBAWANG">Sembawang</option>
                    <option value="SENGKANG">Sengkang</option>
                    <option value="SERANGOON">Serangoon</option>
                    <option value="TAMPINES">Tampines</option>
                    <option value="TOA PAYOH">Toa Payoh</option>
                    <option value="WOODLANDS">Woodlands</option>
                    <option value="YISHUN">Yishun</option>
                </select>
            </div>

            <!-- STREET NAME -->
            <div class="md-form mb-3">
              <label for="street_name">Street</label>
              <input  type="text"
                      class="form-control"
                      id="street_name"
                      name="street_name"
                      placeholder="Enter Property's Street">
              <div class="form-text small">e.g ADMIRALTY DR, ANCHORVALE CRES
              </div>
            </div>

            <!-- BLOCK -->
            <div class="md-form mb-3">
              <label for="block">Block</label>
              <input  type="text"
                      class="form-control"
                      id="block"
                      name= "block"
                      placeholder="Enter Property's Block">
              <div class="form-text small">e.g 353A, 190B
              </div>
            </div>

            <!-- FLAT TYPE-->
            <div class="md-form mb-3">
                <label for="flat_type">Flat Type</label><br>
                <select required id="flat_type" name="flat_type" class="form-select" aria-label="Default select example" aria-placeholder="Choose a flat type">
                    <option value="2 ROOM">2 Room</option>
                    <option value="3 ROOM">3 Room</option>
                    <option value="4 ROOM">4 Room</option>
                    <option value="5 ROOM">5 Room</option>
                    <option value="EXECUTIVE">Executive</option>
                </select>
            </div>

            <!-- FLAT MODEL -->
            <div class="md-form mb-3">
              <label for="flat_model">Flat MODEL</label><br>
              <select required id="flat_model" name="flat_model" class="form-select" aria-label="Default select example" aria-placeholder="Choose a flat model">
                  <option value="Model A">Model A</option>
                  <option value="Improved">Improved</option>
                  <option value="Apartment">Apartment</option>
                  <option value="Premium Apartment">Premium Apartment</option>
              </select>
            </div>

            <!-- address -->

            <!-- Floor Area Square Meter-->
            <div class="md-form mb-3">
              <label for="floor_area_sqm">Size</label>
              <input  type="number"
                      min="10000"
                      step="any"
                      class="form-control"
                      id="floor_area_sqm"
                      name= "floor_area_sqm"
                      placeholder="Enter Property's Area">
          </div>

            <!-- Price -->
            <div class="md-form mb-3">
                <label for="price">Price</label>
                <input  type="number"
                        min="10000"
                        step="any"
                        class="form-control"
                        id="price"
                        name="price"
                        placeholder="Enter Property's Price">
            </div> 

            <!-- postal code & sector -->

            <!-- image -->
        
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type = "submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}