{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <style>
        /* Modify the background color */
        
        .card {
            background-color: white;
        }
        .card-header {
            background-color: pink;
    
        }
        .card-body {
            background-color: white;
    
        }
      </style>
  </head> 


  <form method="POST">
    <div class="container py-2 ">
        <div class="row justify-content-center">
            <div class="input-group col-md-4" >
                <input class="form-control py-2 border-right-0 border" name="search" id="search" placeholder = "Search for Properties here!">
                <span class="input-group-append ">
                    <button class="btn btn-outline-primary border-left-0 border" type="submit" type="button" >
                      <i class="fa fa-search"></i>
                    </button>
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" name= "price_high" id = "price_high" href="{{ url_for('views.sort', criteria = 'price_high') }}">Price (High to Low)</a>
                        <a class="dropdown-item" name = "price_low" id="price_low" href="{{ url_for('views.sort', criteria = 'price_low') }}">Price (Low to High)</a>
                        <a class="dropdown-item" name = "remaining_lease_high" id="remaining_lease_high" href="{{ url_for('views.sort', criteria = 'remaining_lease_high') }}">Remaining Lease (High to Low)</a>
                      </div>
                    </div>
                  </span>
            </div>
        </div>
    </div>
  </form>
  <h1 align="center">You searched for: {{session['street_name']}}</h1>
<body class="bg">
    
    <div id="searchProperties" class="card-body mx-auto bg-pink" style="width: 30rem;">
      {% for flat in flats %}
        <div class="card mb-3">
          <div class="card-header">
            <strong><a href ="{{ url_for('views.flat_details', flatId=flat.id) }}" target = "_blank">{{flat.street_name}}</strong></a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <img src="{{flat['image']}}" class="img-thumbnail">
              </div>
              <div class="col">
                <p><strong>Price: </strong>${{flat.resale_price}}</p>
                <br/>
                <p><strong>Flat Type: </strong>{{flat.flat_type}}</p>
                <br/>
                <p><strong>Floor: </strong>{{flat.storey_range}}</p>
                
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
          
  
    
  
<script type="text/javascript">
    var index = 20;
    var limit = 20;
  
    $(window).scroll(() => {
      var current_y = $(window).scrollTop();
      var window_height = $(window).height();
      var document_height = $(document).height();
      
      if (current_y + window_height  == document_height) {
        downloadContent(index, limit);
        index += 10
      }
    });
  
  
    function downloadContent(index, limit) {
      $.get('/load_search?index=' + index + '&limit=' + limit, (data) => {
        for (var index = 0; index < data.data.length; index++) {
          var entry = "/flat-details/" + data.data[index][0];   
          var page = `
            <div class="card mb-3">
              <div class="card-header">
                <strong>` +`<a href="${entry}" target = "_blank">`+ data.data[index][1] + `</strong></a>
              </div> 
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="` + data.data[index].image + `" class="img-thumbnail">
                  </div>
                  <div class="col">
                    <p><strong>Price: </strong>` +`$`+ data.data[index][2] + `</p>
                    <br/>
                    <p><strong>Flat Type: </strong>` + data.data[index][3] + `</p>
                    <br/>
                    <p><strong>Floor: </strong>` + data.data[index][4] + `</p>
                  </div>
                </div>
              </div>
            </div>
          `
  
          $('#searchProperties').append(page)
        }
      });
    }
    
</script>
  
</body>
    

{% endblock %}
