{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block content %}
<div id="acc_form" >
  <div class="container-fluid">
    <div class="row">
    <img style="height: 100vh; width: 70%; margin-left: -8%;" src="\static\hdb_image7.jpg"/ style="display: inline-block;">
  
  <div class="col" style="margin-right: -6%;">
<form class="user-acc" method="POST">
  <h3 align="center">Sign Up</h3>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter username"
    />
  </div>

  <div class="form-group">
    <label for="postalCode">Postal Code</label>
    <input
      type="number"
      step="1"
      class="form-control"
      id="postalCode"
      name="postalCode"
      placeholder="Enter first 2 digits of postal code"
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Re-enter password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Re-enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary"
  style="background-color: #f59090; font-size: 1.5rem; padding:0.5% 3%; margin-bottom: 5%;
  border: 0; display: block; margin: 0 auto;">Submit</button>
</form>

</div>
</div>
</div>
</div>
</div>
{% endblock %}
