{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter username"
    />
  </div>

  <div class="form-group">
    <label for="postalCode">Postal Code</label>
    <input
      type="number"
      step="1"
      class="form-control"
      id="postalCode"
      name="postalCode"
      placeholder="Enter first 2 digits of postal code"
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Re-enter password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Re-enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="embedsocial-hashtag" data-ref="ae9aa637b1c80b91a2a76b634ce5f57ae70f4ea2"></div>
  <script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>

{% endblock %}
