{% extends "base.html" %} {% block title %}Email Verification{% endblock %} 

{% block content%}
<form method="POST">
  <h3 align="center">Email Verification</h3>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
    <button id='solid-button' type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
  </div>
</form>
{% endblock %}
    